body {
  font-family: Arial;
}

a:focus {
  outline: none;
}

.row{
    outline: none;
    padding-top: 10%;
    width: 100%;
    text-align: center;
}

.portfolioFilter {
    margin-top: 1%;
    padding-bottom: 2%;
}

.btn2 {
    margin-top: 0%;
    padding-bottom: 5%;
}

.btn2 a{
  color: #666;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 4px 15px;
  border-radius: 50px;
  display: inline-block;
}

.btn2 a:hover{
  border: 1px solid black;
}

.portfolioFilter a {
  color: #666;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 4px 15px;
  border-radius: 50px;
  display: inline-block;
}

.portfolioFilter a.current {
  background: #1e1e1e;
  border: 1px solid #1e1e1e;
  color: #f9f9f9;
}

.portfolioFilter a:hover{
  border: 1px solid black;
}
.portfolioContainer{
    margin: auto;
    width: 100%;
    padding: 5%;
}

.portfolioContainer img {
  /* padding: 5px; */
  width: 100%;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

.Container-item{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
    width: 41%;
}
.individiual {
    width: inherit;
    position: relative;
}

.image {
    display: inline-block;
    width: 100%;
    /* display: block; */
    height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.individual:hover .overlay {
  opacity: .5;
}

.text {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
