
div{
  /* font-family: 'Titillium Web', sans-serif; */
}

line {
  left: 20%;
}



.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  margin: 0px;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.left{
  left: 10px;
  /* position: relative; */
  float: left;
  margin-right: 60%;
  text-align: left;
}

.right{
  /* position: relative; */
  text-align: left;
  float: right;
  right: 10px;
}
.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
  font-size: 20px;
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
  font-size: 20px;
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion2 {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  margin: 0px;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion2:hover {
    background-color: #ccc;
}

.accordion2:after {
  font-size: 20px;
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
  font-size: 20px;
    content: "\2212";
}


/* footer{
  text-align: center;
  left: 0px;
  position: fixed;
  width: 100%;
  bottom:0px;
  background-color: black;
  margin:0px;
  padding:0px;
} */

#welcome{
  margin:0px;
  padding:0px;
  padding-left:20%;
  padding-top: 5%;
  padding-bottom: 0px;
}


.social{
  width: 30px;
  height: 30px;
  margin: 10px;
  padding: 10px;

}

#copyright{
  padding: 5px;
  margin: 0px;
  color: white;
}

.social img{
  width: 30px;
  height: 30px;
  padding-bottom: 1px;
}

#intro{
  font-size: 15px;
  line-height: 40px;
  /* text-align: center; */
  padding: 30px;
  padding-top: 0px;
  margin-left: 50px;
  margin-right: 500px;
  margin-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#list{
  margin-left: 50px;
  margin-right: 500px;
  margin-top: 5px;
  margin-bottom: 0px;
}

#contact{
  margin-left: 50px;
  margin-right: 500px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.list{
  margin-left: 50px;
  margin-right: 500px;
  margin-top: 5px;
}

#contactInfo{
  margin-left: 50px;
  margin-right: 500px;
  margin-top: 5px;
  margin-bottom: 7%;
  /* padding-bottom: 40px; */
}

#pic{
  position: absolute;
  right: 5%;
  top: 75px;
  border-radius: 100%;
  width: 400px;
  height: 400px;
  padding: 5px;
  margin: 10px;
  background-color: black;
}

#nav{
  list-style-type: none;
  margin-left: auto%;
  overflow: hidden;
  text-align: center;
  color: gainsboro;
}

.end{
  text-align: center;
  padding: 70px 0;
  vertical-align: middle;
  margin: auto;
}

.nav{
  margin: 5px;
  text-align: center;
  color: gainsboro;
  float: right;
  padding: 10px;
}

.projects{
  list-style-type: none;
  text-align: center;
}

.projectsName{
  margin: 0px;
  list-style-type: none;
  text-align: center;
}

.nav a {
    display: block;
    color: darkgrey;
    text-align: center;
    text-decoration: none;
}

.nav a:hover{
  color: black;
}



.llama{
  padding: 5px;
  margin: 10px;
  border-radius: 10%;
  background-color: black;
  width: 150px;
  height: 100px;
  float:none;
}

.website{
  width: 100%;
  padding: 2px;
  margin-top: 20%;
  border-radius: 0%;
  background-color: black;
}

.code{
  text-align: left;
  background-color: rgba(19,124,165,0.5);
  height: 300px;
  text-height: 20px;
  overflow: scroll;
  align-self: center;
  font-family: 'Roboto Mono', monospace;
}

.video{
  padding:1px;
  background-color: black;
}

.code2{
  align-items: center;
  align-content: center;
  text-height: 20px;
  width: 95%;
  height: 10%;
  margin-left: 5%;
  margin-top: 0px;
}


img {
  vertical-align: middle;
  /* border-radius: 20%; */
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: ;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
  display: flex;
}

.container {
    position: relative;
    background-color: black;
}

.navImg {
  opacity: 1;
  border-radius: 0%;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .navImg{
  opacity: 0.5;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 25px;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.portfolioTxt{
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 50px;
  margin-right: 50px;
  line-height: 30px;
}

.container .img{
  border-radius: 0%;
}

/* Clearfix (clear floats) */
.row2::after {
    content: "";
    clear: both;
    display: table;
}

.row2 {
  display: flex;
}

.container2 {
    position: relative;
}

.column2 {
    float: left;
    width: 50%;
    padding: 5px ;
}

#gameImg{
  width: 750px;
  margin: auto;
  border-radius: 0%;

}


.gameImg{
  width: 60%;
  margin: auto;
  border-radius: 0%;

}

.btn {
  font-family: 'Roboto Mono', monospace;
  font: inherit;
  margin-left:10%;
  background-color: rgb(19,124,165);
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(12,57,76);
}

#email {
  opacity: 0.5;
  font-family: 'Roboto Mono', monospace;
  margin-left: 24%;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  color: rgb(19,124,165);
}

/* Darker background on mouse-over */
#email:hover {
  opacity: 1.0;
  color: rgb(12,57,76);
}

.social2{
  text-decoration: none;
  width: 30px;
  height: 30px;
  margin: auto;
  padding: 10px;

}
.social2 img{
  opacity: 0.5;
  width: 30px;
  height: 30px;
  padding-bottom: 1px;
}

.social2 img:hover{
  opacity: 1.0;
}

.GWClink {
  text-decoration: underline;
  opacity: 0.5;
  color: rgb(19,124,165);
}

.GWClink:hover{
  opacity: 1.0;
}
