body, html {
  height: 100%;
}

.parallax {
	margin: 0px;
	/* The image used */
	background-image: url(background3.jpg);
	/* background-color: rgb(19,124,165); */

	/* Full height */
	height: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax table{
	width:100%;
	height:auto;
	text-align:center;
}

.parallax h1{
	color: white;
	text-align: center;
	font-size: 70px;
	line-height: 20px;
	margin-top: 25%;
}

.parallax p{
	color: white;
	text-align: center;
	font-family: 'Roboto Mono',monospace;
	font-size: 30px;
	margin-top: 10%;
}

.spiel p{
	margin: 10%;
	margin-top:5%;
	font-size: 20px;
	font-family: 'Roboto Mono', monospace;
	opacity: 80%;
}

#button{
	/* visibility: hidden; */
	font-size: 20px;
	padding: 10px;
	text-align: center;
	background-color: transparent;
	color: white;
	border: 2px solid white;
	border-radius: 20px;
	position:absolute;
}

#button:hover {
	background-color: white;
	color: rgb(19,124,165);
}

.centerize {
	display: block;
	margin: 0 auto;
	text-align: center;
}

/******************** footer ********************/

.footer {
	background-color: black;
	color: #eeeeee;
    height: 80%;
	padding: 50px 0;
}

.footer_container {
	text-align: center;
	margin: 20px auto;
}

.social_m_icons {
	list-style: none;
}

.social_m_icons li {
	display: inline-block;
	padding: 0 30px;
}

.social_m_icons li a {
	display: block;
	height: 170px;
	width: 170px;
	position: relative;
	color: black;
}

.social_m_icons img{
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    filter:opacity(40%);
}

.social_m_icons img:hover{
    filter:opacity(100%);
}

.email_link a{
    color: grey;
}

.email_link a:hover{
    color: white;
}

/** source code: https://codepen.io/DannyJoris/pen/BrMgza **/

 .border-animation {
	 --border-width: 1px;
	 --animation-speed: 0.5s;
	 --color: white;
	 color: var(--color);
	 position: relative;
	 display: inline-block;
}
 .border-animation .border-animation__inner {
	 position: relative;
	 display: inline-block;
	 width: 100%;
	 padding: 10%;
	 background: black;
	 z-index: 1;
	 border: solid var(--border-width) transparent;
}
 .border-animation:before, .border-animation:after {
	 content: '';
	 position: absolute;
	 background: var(--color);
}
 .border-animation:focus:before, .border-animation:hover:before {
	 animation: beforeBorders var(--animation-speed) forwards ease-in-out;
}
 .border-animation:focus:after, .border-animation:hover:after {
	 animation: afterBorders var(--animation-speed) forwards ease-in-out;
}
 .border-animation:focus, .border-animation:hover {
	 animation: borderColors var(--animation-speed) steps(1) forwards;
	 outline: none;
}
 .border-animation:focus .border-animation__inner, .border-animation:hover .border-animation__inner {
	 animation: background calc(var(--animation-speed) / 5 * 3) forwards ease-in-out;
	 animation-delay: calc(var(--animation-speed) / 5 * 2);
}
 @keyframes beforeBorders {
	 0% {
		 top: calc(var(--border-width) * -1);
		 left: 50%;
		 bottom: auto;
		 right: auto;
		 width: 0;
		 height: var(--border-width);
	}
	 33% {
		 top: calc(var(--border-width) * -1);
		 left: calc(var(--border-width) * -1);
		 bottom: auto;
		 right: auto;
		 width: calc(var(--border-width) + 50%);
		 height: var(--border-width);
	}
	 66% {
		 top: calc(var(--border-width) * -1);
		 left: calc(var(--border-width) * -1);
		 bottom: auto;
		 right: auto;
		 width: var(--border-width);
		 height: calc((var(--border-width) * 2) + 100%);
	}
	 100% {
		 top: auto;
		 left: calc(var(--border-width) * -1);
		 bottom: calc(var(--border-width) * -1);
		 right: auto;
		 width: calc(var(--border-width) + 50%);
		 height: calc((var(--border-width) * 2) + 100%);
	}
}
 @keyframes afterBorders {
	 0% {
		 top: calc(var(--border-width) * -1);
		 left: auto;
		 bottom: auto;
		 right: 50%;
		 width: 0;
		 height: var(--border-width);
	}
	 33% {
		 top: calc(var(--border-width) * -1);
		 left: auto;
		 bottom: auto;
		 right: calc(var(--border-width) * -1);
		 width: calc(var(--border-width) + 50%);
		 height: var(--border-width);
	}
	 66% {
		 top: calc(var(--border-width) * -1);
		 left: auto;
		 bottom: auto;
		 right: calc(var(--border-width) * -1);
		 width: var(--border-width);
		 height: calc((var(--border-width) * 2) + 100%);
	}
	 100% {
		 top: auto;
		 left: auto;
		 bottom: calc(var(--border-width) * -1);
		 right: calc(var(--border-width) * -1);
		 width: calc(var(--border-width) + 50%);
		 height: calc((var(--border-width) * 2) + 100%);
	}
}
 @keyframes borderColors {
	 0% {
		 border-top-color: transparent;
		 border-right-color: transparent;
		 border-bottom-color: transparent;
		 border-left-color: transparent;
	}
	 33% {
		 border-top-color: var(--color);
		 border-right-color: transparent;
		 border-bottom-color: transparent;
		 border-left-color: transparent;
	}
	 66% {
		 border-top-color: var(--color);
		 border-right-color: var(--color);
		 border-bottom-color: transparent;
		 border-left-color: var(--color);
	}
	 100% {
		 border-top-color: var(--color);
		 border-right-color: var(--color);
		 border-bottom-color: var(--color);
		 border-left-color: var(--color);
	}
}
